PORT=3000
START_BOT=true

ADMIN_TOKEN=replace_me
MONGODB_URI=mongodb://localhost:27017/fetcha

SQUAD_BASE_URL=https://sandbox-api-d.squadco.com
SQUAD_SECRET_KEY=replace_me
SQUAD_MERCHANT_ID=replace_me
VERIFICATION_FEE=50000

OPENAI_API_KEY=replace_me

CLOUDINARY_CLOUD_NAME=replace_me
CLOUDINARY_API_KEY=replace_me
CLOUDINARY_API_SECRET=replace_me
